<a target="_blank" href="https://colab.research.google.com/github/robgen/HEDSpython/blob/main/Tutorial_1.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# **Introduction to Python programming**

## **What is a Python program?**

A Python program is a sequence of instructions written in Python that are executed in a sequential order to perform some action.

Below is a simple Python program. Press the *play* button to execute it.

In [ ]:
print('Hello, World!')

Well done! You have just run your first Python program.

The `print()` function prints the specified message to the screen. You can change this with anything you like. Now try typing your name and re-running the program.

## **Data Types**

Python can store objects of different types and different data types can do different things.

Basic data types are: integer, floating point (rational), string and boolean.

In [ ]:
a = 11 # integer
b = 123.4 # float
c = 'Humanitarian' # string
d = True # boolean

# Anything after an hashtag is a comment. The program won't read it

*Note:* to define a **string**, quotes are needed. You can use both `'` or `"`.

Now run the code above using the *play* button. The `=` operator assigns each value to a specific variable. By running the code snippet, we have stored the values in the specified variables. We can now print the specific values by calling the variable instead inside the `print()` function.

In [ ]:
print(a)

11

 The `type()` function prints the data type of the specified object.

In [ ]:
type(a)

int

Feel free to play around with the code snippets above, printing the other variables and their data type.

In [ ]:
# write your code here

### **Boolean**

A boolean represents one of two values: `True` or `False`.

We have already seen that the comparison operator `=` assigns some data to a variable. The operator `==` checks if two variables are the same. The value returned is a boolean. (More on comparison operators later!)

In [ ]:
e = 11
f= -5
print(e == f)

False

Now check if `e` and `f` are equal to `a` or `b`

In [ ]:
# write your code here

### **Strings**

Now let's define some strings

In [ ]:
s1 = 'Humanitarian'
s2 = 'Engineering'
s3 = 'and'
s4 = "Data" # you can use either '' or "".
s5 = 'Science'

*Note:* It is good practice to use one approach consistently (either `''` or `""`) and not mix them.

You can concatenate strings using the `+` operator

In [ ]:
humEng = s1 + s2
humDataScience = s1 + s4 + s5
humEngDataScience = humEng + s3 + s4 + s5 + 'is the best'

In [ ]:
print(humEng)
print(humDataScience)
print(humEngDataScience)

Note that there are no spaces. Try to redefine the strings to add the spaces and store them in the same variables.

In [ ]:
# write your code here

You can replicate a string by using the `*` operator

In [ ]:
print(3*s1)

You can check how many characters are in a string using the `len()` function.

*Note*: each space counts as a character.

In [ ]:
print(len(humEng))

You can index over a string to select specific elements of it.

 Indexing in Python starts at 0, which means that the first element in a sequence has an index of 0, the second element has an index of 1, and so on.

In [ ]:
print(humEng[0])
print(humEng[1])
print(humEng[2])

The last character is located at the position `len(string)-1`. The last character can be also called with the index `-1` and the index `-2` refers to the second to last character, and so on.

In [ ]:
print(humEng[22])
print(humEng[-1])
print(humEng[-2])

You can access a range of elements using `:`.

In [ ]:
print(humEng[:5]) # access the first 5 characters
print(humEng[-4:]) # access the last 4 characters

print(humEng[9:15]) # access characters from index 9 to 15
print(humEng[9:15:2]) # access every other character from index 9 to 15

*Exercise*: Now create three strings containing the following text, stored in three different variables:

1.   "My name is"
2.   your Name
3.   your Last Name

Concatenate them and as your program to print them such that you read "My name is Name Last_Name".

In [ ]:
# write your code here

Using string indexing produce a username combining the first letter of your name with the first three letters of your last name.

In [ ]:
# write your code here

Is there another way you could have indexed obtaining the same result?

In [ ]:
# write your code here

A method is a function that is defined for a specific data type (i.e., does not work with other data types). `.upper()`, `.lower()` and `.title()` are common string methods.

In [ ]:
print(humEngDataScience.lower())
print(humEngDataScience.upper())
print(humEngDataScience.title())

You can check the other available methods for the data type using the `help()` function.

In [ ]:
help(str)

### **Tuples**

Tuples are ordered sequences. They are defined by round brackets (commas are mandatory) and can contain elements of the same type or different type.

In [ ]:
tup1 = (5,1,6)
tup2 = ('a', 'b', 'c', 'd')
tup3 = (4, 'five and half', 6, 6.5, 'seven')

You can access the elements of a tuple like you access those of a string. The first element is called with a 0 and the last element is located at the position `len(tup3)-1`.

In [ ]:
print(tup3[0])
print(tup3[len(tup3)-1])

The last element can be also called with the index -1.

In [ ]:
print(tup3[-1])

The index -2 refers to the second to last element, and so on.

In [ ]:
print(tup3[-2])

As for strings, you can access ranges of elements using `:`.

In [ ]:
print(tup3[:2]) # access the first 2 elements
print(tup3[-3:]) # access the last 3 elements
print(tup3[1:3]) # access elements from index 1 to 3
print(tup3[::2]) # access every other element in the tuple

Tuples can also contain other tuples (or lists). This is called nesting.

In [ ]:
tup4 = ('lev1', 'lev1', ('lev2', 'lev2', 'lev2'))

You can access the tuple at the end of `tup4` as any other element in the tuple, using indexing.

In [ ]:
tupInside = tup4[-1]
print(tupInside)

You can then access elements inside `tupInside` by indexing over them.

In [ ]:
print(tupInside[2])

Now run the below code.

In [ ]:
print(tupInside[2] == tup4[-1][2])

That's tight, `tupInside` and `tup4[-1]` are exactly the same. You can index over either of them to obtain the same element.

Tuples are **IMMUTABLE**. Once created they can't be changed.

Try running the following line of code.

In [ ]:
# tup3[0] = 5

If you want to manipulate tuples, you need to assign the result to another variable.

In [ ]:
tup1sorted = sorted(tup1) # the sort() function changes the order of values

Note that the result is not a tuple anymore.

In [ ]:
type(tup1sorted)

### **Lists**

A list is a **MUTABLE** ordered sequence of elements.

In [ ]:
L1 = [4, 9, 0]
L2 = [5, 0, 11]

As for tuples, lists can contain different data types including lists and tuples.

In [ ]:
L3 = [1, 'lev1', ('lev2', 'lev2', 'lev2')]

Unlike tuples, lists can be modified. The code below changes the second element in the list to `'level 1'`.

In [ ]:
L3[1] = 'level 1'
print(L3)

You can index over a list and its elements exactly as with tuples.

In [ ]:
print(L3[2][0])

Now uncomment and try the following command.

In [ ]:
# L3[2][0] = 5

That's right. Remember tuples are immutable - even if contained in a list! You cannot change their elements.

As for strings, you can use the `+` operator to concatenate lists.

In [ ]:
L4 = L2 + L3
print(L4)

The method `.append()` adds ONE element to the end of a list.

In [ ]:
L3.append(1)
print(L3)

The method `.extend()` adds many elements at the end of a list.

In [ ]:
L1.extend([4, 8])
print(L1)

The function `del()` deletes specific elements from a list.

In [ ]:
del(L3[1]) # deleted the second element
print(L3)

#### **Why do we need immutable data types?**

In [ ]:
a1 = [1, 4, 7]
b1 = a1 # create an alias of a, named b
b1[1] = 3 # change one element of b
print(a1)

We thought we were changing `b` but `a` got changed as well. We need immutable data types so that we do not need to worry about our original object being accidentally changed.

You can use `help(tuple)` and `help(list)` to access the relevant documentation.

### **Dictionaries**

A dictionary is a *ordered* collection of key-value pairs which does not allow duplicates (i.e., cannot have two keys with the same value).

They are defined by curly brackets. The format is `"KeyName":parameter`. Commas are mandatory.

*Note:* As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [ ]:
person = {"Name": 'Napoleon', "Height": 1.45, "Weight": 60, "EmperorYears": [1804, 1815]}

You can access any element of a dictionary by calling its `KeyName`.

In [ ]:
print(person["Weight"])

As for lists, you can modify any element of a dictionary.

In [ ]:
person["Height"] = 5*0.3048 + 6*0.0254 # he was actually 5'6
print(person["Height"])

You can add a new key-value pair to the `person` dictionary by designing a `KeyName` and assigning a value to it.

In [ ]:
person["horseColor"] = "White"
print(person)

The method `.keys()` shows all keys in a dictionary.

In [ ]:
print(person.keys())

You can also check if the dictionary contains a specific key using the `in` operator.

In [ ]:
print('Name' in person)

You can use `help(dict)` to access the relevant documentation.

### **Sets**

A set is a collection which is *unordered*, *unchangeable*, and *unindexed*. You can remove and add items from a set but you cannot change its items. Sets do not allow duplicates. They are defined with curly brackets. Commas are mandatory.

In [ ]:
hazardsModel1 = {'Flood', 'Earthquake','Earthquake','Hurricane', 'Pandemics'} #note we type earthquake twice but it doesn't appear twice
hazardsModel2 = {'Earthquake', 'Drought'}
print(hazardsModel1)
print(hazardsModel2)

{'Earthquake', 'Hurricane', 'Flood', 'Pandemics'}
{'Earthquake', 'Drought'}

Lists can have duplicates, sets cannot. If you define a set with duplicates, these will be removed when the set is created.

In [ ]:
dummyList = ['Earthquake', 4, 8, 'Pandemics', 'Pandemics']
dummySet = {'Earthquake', 4, 8, 8, 'Hurricane', 'Pandemics', 'Pandemics'}
print(dummyList)
print(dummySet)

['Earthquake', 4, 8, 'Pandemics', 'Pandemics']
{4, 8, 'Earthquake', 'Hurricane', 'Pandemics'}

Duplicate elements (of string type) are defined considering the case. Lower case precedes upper case.

In [ ]:
print({'Earthquake', 4, 8, 8, 'Hurricane', 'Pandemics', 'pandemics'})

{4, 8, 'Earthquake', 'Hurricane', 'pandemics', 'Pandemics'}

Too perform the union and intersection of the two sets you can use the methods `.union()` and `.intersection()`.

In [ ]:
union = hazardsModel1.union(hazardsModel2)
intersection = hazardsModel1.intersection(hazardsModel2)
print(union)
print(intersection)

{'Drought', 'Earthquake', 'Hurricane', 'Flood', 'Pandemics'}
{'Earthquake'}

You can use the `.add()` method to add elements to your set.

In [ ]:
dummySet.add(5)
print(dummySet)

As for dictionaries, you can check that a specific element is in a set using the `in` operator.

In [ ]:
print("Hurricane" in hazardsModel1)
print("Hurricane" in hazardsModel2)

You can use `help(set)` to access the relevant documentation.

## **Operators**

### **Arithmetic Operators**

You can run simple expressions with basic data types.

In [ ]:
A = 5 + 9 # add
B = 5 - 11 # subtract
C = 4/2 # divide
D = 11 * 2 # multiply
E = 4**2 # exponent
F = 7%2 # modulo (the reminder)

Now check your outputs.

In [ ]:
print(A) # or B or C..

Also variables can be called in expressions and operations can mix integers and floats.

In [ ]:
# remember we set at the beginning a = 11 and b = 123.4
G = 5 - a
H = a * 2
I = a * b # returns a float

In [ ]:
print(G)

### **Comparison Operators**

Comparison operators compare some values and return a Boolean (true/false) as a result. Each comparison is called a conditional statement.

In [ ]:
a = 6

Equality

In [ ]:
print(a == 6)
print(a == 1)

Inequality

In [ ]:
print(a != 6)
print(a != 1)

Greater than

In [ ]:
print(a > 2)
print(a >= 7)

Lesser than

In [ ]:
print(a < 2)
print(a <= 10)

###**Logical Operators**

Logical operators `and`, `or` and `not` are used to combine conditional statements.

In [ ]:
print(a > 2 and a <= 10) # it is true of both conditions are true, false otherwise
print(a > 2 or a < 2) # it is true if either of the contitions are true (or both), false otherwise
print(not(a > 2 and a <= 10)) # always interts a the value of a statement

## **If statements**

With an if statement you can provide instructions to do something if a condition is met, or do something else if otherwise.

In [ ]:
age1 = 20
age2 = 16

In [ ]:
if age1 >= 18:
    print('The first person can enter a pub')
else:
    print('The first person cannot enter a pub')

In [ ]:
if (age2 >= 18): # note that the brackets are irrelevant
    print('The second person can enter a pub')
else:
    print('The second person cannot enter a pub')

Note that both the colon and indentation are mandatory. The brackets around the condition in statement 2 are not mandatory.

The `input()`function allows the user to input a value.

In [ ]:
age = int(input('What is your age? '))

In [ ]:
print(age)

Now check which data type is stored in `age`.

In [ ]:
# write your code here

*Exercise*: using user input values and if statements write a code that tells you to enter the pub if you are above 18 or accompanied by an adult.

In [ ]:
# write your code here

## **For loops**

A for loop performs a task a specific number of times.

We define a list.

In [ ]:
xValues = [15, 16, 17, 18, 19, 20]

Now for each value in the list we want the program to perform the action `print()`.

Note that colon and indentation are necessary to define the loop and anything that is indented will be evaluated in the loop.

In [ ]:
for value in xValues:
    print(value)

Example: represent the function `y = 3x` for a set of x values (`xValues`).

To do so we define an empty list where we can store the obtained values of y. We then iterate over the x values performing the transformation `x*3 ` and store them in the new list.

In [ ]:
yValues = []

for x in xValues:
    yValues.append(3 * x)

print(yValues) # command not in the loop

For loops can iterate over non-numerical lists/tuples as well. The function `enumerate()` gives you both the index and the content of a list/tuple.

In [ ]:
disasters = ('hurricane', 'earthquake', 'flood', 'hurricane')
for index, disaster in enumerate(disasters):
    print([index, disaster])

You can use the `range()` function to perform an action a fixed amount of times. The `range()` function starts from 0 by default, and increments by 1 (by default) until a specified value (excluded).

Note that `range(6)` is not the values of 0 to 6, but the values 0 to 5.

In [ ]:
for x in range(6):
  print('I am a Data Scientist')

`range()` can also be used for indexing.

In [ ]:
for idx in range(len(xValues)):
  print(xValues[idx])

Note this is the same as the very first loop we printed!

##**While loops**

While loops repeat a set of code until a condition is met.

Here is an example.

Say we want to identify at what index value we have a 'flood' in the `disasters` tuple.

We define a starting index value and increment the index until the condition is met using a while loop. We then print the index and corresponding value in the tuple.

In [ ]:
i = 0
while(disasters[i] != 'flood'):
  i = i + 1
print('The first element of the tuple containing a flood is:', [i, disasters[i]])

##**Functions**

A function takes some input, performs a specific task and returns some output.

We have encountered several functions already. Remember the `print()` function or the `len()` function? These functions are called built-in functions, as they are pre-defined for us.

You can use built-in functions or create your own functions. Overall, a function is just a piece of code that can be reused easily.

But how do we define a function? Here is an example.

In [ ]:
def findFirstStringInCollection(collection, stringToFind):

    i = 0
    while(collection[i] != stringToFind):
        i += 1 # another way to increment

    idFirstString = i

    return idFirstString

When defining a function, `def`, the colon and indentation are mandatory. The `return` statement defined the function's outputs. Without it, the function will return nothing.

Now given three collections we want to find the index values for specific items.

In [ ]:
collection1 = ['hurricane', 'earthquake', 'flood', 'hurricane']
stringToFind1 = 'flood'

collection2 = ['red', 'blue', 'yellow', 'green']
stringToFind2 = 'green'

collection3 = ['dog', 'cat', 'lion']
stringToFind3 = 'cat'

We can now perform this task by using a single line instead of the whole block above because we have defined a function that does this for us!

In [ ]:
id1 = findFirstStringInCollection(collection1, stringToFind1)
id2 = findFirstStringInCollection(collection2, stringToFind2)
id3 = findFirstStringInCollection(collection3, stringToFind3)
print(id1)
print(id2)
print(id3)

Note that the variables defined within the function are destroyed after running the function. Only the returned variables will be kept.

Try to print the variable `idFirstString` which is only defined inside the function. You will see that this will throw an error.

In [ ]:
# print(idFirstString)

*Exercise*: create a function that issues the right train ticket codes based on the concession category of the user. The full price of the ticket is 30. Call the function `issueTrainTicketCodes()`.

The function has to:


*   ask the user how many thickets they need for their train ride
*   for each ticket, ask name, last name, age and occupation of the passenger
*   if the passenger is above 65, below 12 or a student apply a discount of 20% to the fare
*   return a tuple with the ticket codes concatenating the initials of each passenger, their date of birth in format 'ddmmyyyy',  sign and ticket price.

In [ ]:
# write your code here

## **Classes (not required)**

A class is a template for creating python objects.

Let's define a class.

In [ ]:
class Dog:
  pass
print(Dog) # returns a python object

<class '__main__.Dog'>

We have just defined is an empty class. We can now add properties to it. For instance we know that each dog is born with 4 legs.

In [ ]:
class Dog:
  legs = 4

print(Dog.legs)

4

But we also know that each dog has a name and an age. So we can define these as specific properties of the class which can be defined every time a class is called.

In [ ]:
class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age

d1 = Dog('Scamper', 3)

print(d1.name)
print(d1.age)

Scamper
3

The `__init__()` function is always executed when a class is initiated.

We can also define specific methods for a class. Remember the string-specific method `.upper()`, `.lower()` and `.title()`? We can create similar methods for our class.

In [ ]:
class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def ispuppy(self):
    return self.age <= 1

d1 = Dog('Scamper', 3)
print(d1.ispuppy())

# note that you need to call the method first to generate the attribute .puppystatus

False

###**Class Inheritance**

Classes can inherit all methods and properties from other classes.

Let's define a new class Parallelepiped.

In [ ]:
class Parallelepiped:
  def __init__(self, depth, height, width, angle):
    self.depth = depth
    self.height = height
    self.width = width
    self.angle = angle

  def getVolume(self):
    self.volume = self.depth*self.height*self.width

We then define a Cube as a subclass of Parallelepiped.

In [ ]:
class Cube(Parallelepiped):
    def __init__(self, depth): # by stating __init__() function the new class no longer inherits the properties of the parent class
      self.depth = depth
      self.width = depth
      self.height = depth
      self.angle = 90

c10 = Cube(10)
c10.getVolume() # note that you need to call the method first to generate the attribute .volume
print(c10.volume)

1000

In [ ]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
        else:
            print("Insufficient balance")

The class Cube has inherited the method `.getVolume()` from the class Parallelepiped.